<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <ul>
        <li><strong>n:</strong> {{ current_datetime|date:"n" }}</li>
        <li><strong>m:</strong> {{ current_datetime|date:"m" }}</li>
        <li><strong>F:</strong> {{ current_datetime|date:"F" }}</li>
        <li><strong>y:</strong> {{ current_datetime|date:"y" }}</li>
        <li><strong>Y:</strong> {{ current_datetime|date:"Y" }}</li>
        <li><strong>H:</strong> {{ current_datetime|date:"H" }}</li>
        <li><strong>h:</strong> {{ current_datetime|date:"h" }}</li>
        <li><strong>i:</strong> {{ current_datetime|date:"i" }}</li>
        <li><strong>s:</strong> {{ current_datetime|date:"s" }}</li>
        <li><strong>a:</strong> {{ current_datetime|date:"a" }}</li>
        <li><strong>A:</strong> {{ current_datetime|date:"A" }}</li>
    </ul>
</body>
</html>