<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Application\css\style.css' %}">
    <title>Document</title>
</head>
<body>
    <img src="{% static 'Application/Images/pixelart-phone-wallpaper-1125x2436.png' %}" alt="" height="300" width="500">
    <h1>Hello friends,Welcome to Django Batch.</h1>
    <p>My name is Vishwali and I am learning Django.</p>
    <h1>{{nm}} is your surname.</h1>
</body>
</html>