<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h2>Course Name is : {{cname | upper}} Duration is {{cduration}} and fees is : {{cfee}}</h2>
    <p>Course Name is : {{cname | lower}}</p>
    <p>Course Name is : {{cname | length}}</p>
    <p>Course Name is : {{cname | capfirst}}</p> -->

    <h1>1. Upper: {{name|upper}}</h1>
    <h1>2. Lower: {{name|lower}}</h1>
    <h1>1. Length: {{students|length}}</h1>


</body>
</html>