{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}" />
</head>
<body>
    <h2>All Products</h2>
    <a href="{% url 'add_product' %}" class="btn btn-AddProduct">Add Product</a>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.stock }}</td>
             <td>
    <a href="{% url 'edit_product' product.id %}" class="btn btn-edit">Edit</a>
    <a href="{% url 'delete_product' product.id %}" class="btn btn-delete">Delete</a>
</td>

        </tr>
        {% empty %} 
        <tr>
            <td colspan="5">No Products available</td>
        </tr> 
        {% endfor %}          
    </table>
</body>
</html>